<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="page-content container">
  <div class="container px-0">
    <div class="row mt-4">

      <table class="table table-bordered">
        <thead class="bg-dark text-light">

          <th>Scenario</th>
          <th>Description</th>
          <th>condition Type</th>
          <th>On Invoice</th>

        </thead>
        <tbody class="table-group-divider" style="height:110px">
          <tr *ngFor="let item of conT">
            <td>{{item.scenario}}</td>
            <td>{{item.description}}</td>
            <td>{{item.condition_type}}</td>
            <td>
              <input type="checkbox" value="{{item.onInvoice}}" />
            </td>
          </tr>



        </tbody>


      </table>

    </div>
  </div>
</div>
