<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />



<div class="page-content container">

  <div class="container px-0">
    <div class="row mt-4">
      <div class="col-12 col-lg-12">

        <hr class="row brc-default-l1 mx-n1 mb-4" />


      </div>
      <table class="table table-bordered">
        <thead class="bg-dark text-light">
          <th>Code</th>
          <th>Description</th>
          <th>Value</th>
        </thead>

        <tbody class="table-group-divider">
          <tr *ngFor="let item of par">
            <td> {{item.code}}</td>
            <td> {{item.description}}</td>
            <td> {{item.value}}</td>

          </tr>


        </tbody>

      </table>

    </div>
  </div>
</div>
