<!-- <p>test works!</p> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />



<div class="page-content container">


  <div class="container px-0">
    <div class="row mt-4">

      <table class="table table-bordered">
        <thead class="bg-dark text-light">

          <th>Scenario</th>
          <th>Description</th>
          <th>condition Type</th>
          <th>on Invoice</th>

        </thead>
        <tbody class="table-group-divider">
          <tr *ngfor="let item of conType">
            <td>{{item.scenario}}</td>
            <td>{{item.description}}</td>
            <td>{{item.conditionType}}</td>
            <!-- <td>{{item.scenario}}</td> -->
            <td>
              <input type="checkbox" value="{{item.onInvoice}}" />
            </td>

        </tr>

          <!-- <tr *ngFor="let i of conType">
            <td> {{i.scenario}}</td>
            <td> {{i.description}}</td>
            <td> {{i.conditionType}}</td>
         <td> {{i.onInvoice}}</td> -->
          <!-- <td>
              <input type="checkbox" value="{{i.onInvoice}}" />
            </td>
          </tr> -->
        </tbody>
      </table>

    </div>
  </div>
</div>
